.container {
  max-width: 770px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  margin: 0 auto;
  padding: 33px 16px;
}

@media (min-width: 1440px) {
  .container {
    padding: 65px 20px;
  }
}