@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --red: hsl(358, 81%, 54%);
  --light-grayish: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  --dark-blue: hsl(212, 24%, 26%);
  --dark-blue-gray: hsl(248, 40%, 56%);
  --gray-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Font sizes */
  --font-size: 16px;

  /* Breakpoints */
  --mob: 375px;
  --desk: 1440px;
}

* {
  font-family: Rubik, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--gray-blue);
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--very-light-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}