.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  margin-top: 17px;
  padding-left: 17px;
  border-left: 2px solid var(--light-gray);
}

@media (min-width: 768px) {
  .container {
    gap: 25px;
    margin-top: 20px;
    margin-left: 45px;
    padding-left: 42px;
  }
}
