.metaData {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background-color: var(--light-gray);
  object-fit: cover;
  overflow: hidden;
}

.username {
  font-weight: 500;
  color: var(--dark-blue);
  transition: color ease 0.2s;
}

.username:hover,
.username:focus {
  color: var(--dark-blue-gray);
}

@media (min-width: 768px) {
  .metaData {
    gap: 18px;
    flex-wrap: wrap;
    margin-right: 144px;
  }
}