.container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  min-width: 250px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--white);
}

.commentContainer {
  flex: 1 1 80%;
}

.content {
  letter-spacing: 0.1px;
  line-height: 1.5rem;
  white-space: pre-line;
  margin-bottom: 5px;
}

.replyingTo {
  color: var(--moderate-blue);
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

@media (min-width: 550px) {
  .container {
    min-width: 370px;
    padding: 22px;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .controlsContainer {
    order: -1;
  }
}
