.form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 15px;
  border-radius: 5px;
}

.input {
  width: 100%;
  min-height: 95px;
  padding: 12px 23px;
  border: 1px solid var(--light-gray);
  border-radius: 7px;
  background-color: transparent;
  color: var(--dark-blue);
  resize: none;
}

.input:focus {
  border-color: var(--dark-blue-gray);
}

.btn {
  font-weight: 500;
  padding: 15px 31px;
  border-radius: 10px;
  background-color: var(--moderate-blue);
  text-transform: uppercase;
  color: var(--white);
  transition: background-color ease 0.1s;
}

.btn:hover,
.btn:focus {
  background-color: var(--light-grayish);
}

.btn:active {
  transform: scale(0.99);
}